body {
    margin: 0;
    font-family: Arial, sans-serif !important;
  }

  header {
    background-color: #333 !important;
    padding: 15px !important;
    text-align: center !important;
    
    
  }
  h1{
    font-weight: bold !important;
  color: black !important;    
  }
form{
  margin-top: 20px;
  margin-right: 30px;
}
  nav {
    display: flex !important;
    justify-content: space-around !important;
    background-color: #444 !important;
    padding: 10px !important;
  }
  .logout-btn {
    color: white;
    text-decoration: none;
    margin-left: 95%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d9534f; /* Bootstrap's danger color */
}
table {
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
  margin: auto; /* Center the table */
  margin-top: 20px; /* Add some space at the top */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.container {
  display: flex;
}
th {
  background-color: #f2f2f2;
}

.editproduct tr:hover{
    background-color: #7a7676;
}
.deleteProduct tr:hover{
  background-color: #7a7676;
}
.clickedDeleteProduct tr:hover{
  background-color: #333;
}


.formCentered{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ; /* Adjust as needed */
}
.EditForm{
  font-size: 20px;
  width: 120%;
  flex: 1; /* This will make the form take up the remaining space */

}
.EditSection{
  margin-left: 10px;
  width: 35%;
}
.EditButton{
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 20px;
  
}
.DeleteButton{
  margin-top: 20px;
  font-size: 25px;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  padding: 10px;
  border-radius: 10px;


}
.AddForm{
  display: inline-block;
  font-size: 25px;
}
.btnAdd{
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}
tr:hover {
  background-color: #f5f5f5;
}
.logout-btn:hover {
    background-color: #c9302c; /* Darken the color on hover */
}
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  nav a:hover {
    background-color: #555;
  }

  main {
    padding: 20px;
  }